body {
  margin: 0;
  padding: 0;
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.course text {
  font-weight: 600;
}

#agreement {
  overflow: scroll;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
}

#form {
  padding-top: 2%;
}
#form * {
  width: 100%;
}

rect {
  border-radius: 5px;
  fill: rgba(0, 0, 0, 0);
  stroke: black;
  stroke-width: 1px;
}
.required rect {
  
}
.recommended rect {
  stroke-dasharray: 3px;
  stroke-linecap: round;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1px;
}
.edgePath.required path {
  
}
.edgePath.recommended path {
  stroke-dasharray: 3px;
  stroke-linecap: round;
}